<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <%- include header -%>
    <main class="innerpage">
        <div class="about_txt"> <h1>London</h1>
            <p>"London" is an ancient name, already attested in the first century AD, usually in the Latinised form 
                Londinium;[60] for example, handwritten Roman tablets recovered in the city originating from AD 65/70-80 
                include the word Londinio ("in London").[61]
                Over the years, the name has attracted many mythicising explanations. The earliest attested appears 
                in Geoffrey of Monmouth's Historia Regum Britanniae, written around 1136.[60] This had it that the 
                name originated from a supposed King Lud, who had allegedly taken over the city and named it Kaerlud.[62]
                Modern scientific analyses of the name must account for the origins of the different forms found in early 
                sources: Latin (usually Londinium), Old English (usually Lunden), and Welsh (usually Llundein), with 
                reference to the known developments over time of sounds in those different languages. It is agreed 
                that the name came into these languages from Common Brythonic; recent work tends to reconstruct the 
                lost Celtic form of the name as *[Londonjon] or something similar. This was adapted into Latin as 
                Londinium and borrowed into Old English, the ancestor-language of English.[63] </p><br>
                <h1>Chisinau</h1>
            <p>The origin of the city's name is unclear. A theory suggests that the name may come from the archaic 
                Romanian word chișla (meaning "spring", "source of water") and nouă ("new"), because it was built around 
                a small spring, at the corner of Pușkin and Albișoara streets.[10]

                The other version, formulated by Ștefan Ciobanu, Romanian historian and academician, holds that the 
                name was formed the same way as the name of Chișineu (alternative spelling: Chișinău) in Western 
                Romania, near the border with Hungary. Its Hungarian name is Kisjenő, from which the Romanian name originates.[11] Kisjenő comes from kis "small" and the Jenő, one of the seven Hungarian tribes that entered the Carpathian Basin in 896. At least 24 other settlements are named after the Jenő tribe.[12][13]
                
                Chișinău is known in Russian as Кишинёв (Kishinjóv), while Moldova's Russian-language media call 
                it Кишинэу, [kʲɪʂɨˈnɛʊ] (Kishineu). It is written Kişinöv in the Latin Gagauz alphabet. It was 
                also written as Chișineu in pre-20th-century Romanian[14] and as Кишинэу in the Moldovan Cyrillic 
                alphabet. Historically, the English language name for the city, Kishinev, was based on the modified 
                Russian one because it entered the English language via Russian at the time Chișinău was part of the 
                Russian Empire (e.g. Kishinev pogrom). Therefore, it remains a common English name in some historical 
                contexts. Otherwise, the Romanian-based Chișinău has been steadily gaining wider currency, especially 
                in written language. The city is also historically referred to as German: Kischinau, Polish: Kiszyniów, 
                Ukrainian: Кишинів, romanized: Kyshyniv, or Yiddish: קעשענעװ‎, romanized: Keshenev.  </p><br>
                <h1>London</h1>
            <p>"London" is an ancient name, already attested in the first century AD, usually in the Latinised form 
                Londinium;[60] for example, handwritten Roman tablets recovered in the city originating from AD 65/70-80 
                include the word Londinio ("in London").[61]
                Over the years, the name has attracted many mythicising explanations. The earliest attested appears 
                in Geoffrey of Monmouth's Historia Regum Britanniae, written around 1136.[60] This had it that the 
                name originated from a supposed King Lud, who had allegedly taken over the city and named it Kaerlud.[62]
                Modern scientific analyses of the name must account for the origins of the different forms found in early 
                sources: Latin (usually Londinium), Old English (usually Lunden), and Welsh (usually Llundein), with 
                reference to the known developments over time of sounds in those different languages. It is agreed 
                that the name came into these languages from Common Brythonic; recent work tends to reconstruct the 
                lost Celtic form of the name as *[Londonjon] or something similar. This was adapted into Latin as 
                Londinium and borrowed into Old English, the ancestor-language of English.[63] </p><br>
                <h1>London</h1>
            <p>"London" is an ancient name, already attested in the first century AD, usually in the Latinised form 
                Londinium;[60] for example, handwritten Roman tablets recovered in the city originating from AD 65/70-80 
                include the word Londinio ("in London").[61]
                Over the years, the name has attracted many mythicising explanations. The earliest attested appears 
                in Geoffrey of Monmouth's Historia Regum Britanniae, written around 1136.[60] This had it that the 
                name originated from a supposed King Lud, who had allegedly taken over the city and named it Kaerlud.[62]
                Modern scientific analyses of the name must account for the origins of the different forms found in early 
                sources: Latin (usually Londinium), Old English (usually Lunden), and Welsh (usually Llundein), with 
                reference to the known developments over time of sounds in those different languages. It is agreed 
                that the name came into these languages from Common Brythonic; recent work tends to reconstruct the 
                lost Celtic form of the name as *[Londonjon] or something similar. This was adapted into Latin as 
                Londinium and borrowed into Old English, the ancestor-language of English.[63] </p><br>
                <h1>London</h1>
            <p>"London" is an ancient name, already attested in the first century AD, usually in the Latinised form 
                Londinium;[60] for example, handwritten Roman tablets recovered in the city originating from AD 65/70-80 
                include the word Londinio ("in London").[61]
                Over the years, the name has attracted many mythicising explanations. The earliest attested appears 
                in Geoffrey of Monmouth's Historia Regum Britanniae, written around 1136.[60] This had it that the 
                name originated from a supposed King Lud, who had allegedly taken over the city and named it Kaerlud.[62]
                Modern scientific analyses of the name must account for the origins of the different forms found in early 
                sources: Latin (usually Londinium), Old English (usually Lunden), and Welsh (usually Llundein), with 
                reference to the known developments over time of sounds in those different languages. It is agreed 
                that the name came into these languages from Common Brythonic; recent work tends to reconstruct the 
                lost Celtic form of the name as *[Londonjon] or something similar. This was adapted into Latin as 
                Londinium and borrowed into Old English, the ancestor-language of English.[63] </p><br>
            
            
            </div>
        
    </main>
    
</body>
</html>