<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <%- include header -%>
    <main class="locations">
       
        <div class="locations2"><h1> Forecast For Selected City</h1>
            <div class="forecastcontainer"></div></div>
        
        
    </main>
  
    
</body>
</html>