<header class="header">
    <a href="index.html" class="logo"><span>Weather App</span><sup><small>™</small></sup></a>
    <div id="current_date"></div>
    <nav class="navigation">
        <ul>
            <li id="index">
                <a href="index.html">Home</a>
            </li>
            <li id="list">
                <a href="list.html">City List</a>
            </li>
            <li id="about">
                <a href="about.html">About</a>
            </li>
            <li id="forecast">
                <a href="forecast.html">Forecast</a>
            </li>
        </ul>
    </nav>
</header>