<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Cities</title>
</head>
<body>
    <%- include header -%>
    <main class="innerpage">
        <h1>City List</h1>
    <div class="cities-list"></div>

    </main>
<div class="loader-wrapper">
    <div class="gooey">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

    </div>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
        
        </script>
        
    
</body>
</html>